* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
html {
	height: 100%;
}
body {
    font-family: "Segoe UI Web Light", "Segoe UI Light", "Segoe UI Web Regular", "Segoe UI", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-size: 1.2rem;
    margin: 1em;
    color: #fff;
    background: url(../images/grid-pattern.png) left top repeat, 
    			-webkit-radial-gradient(50% 15%, #2c98dd, #1a5f96) no-repeat;
    background: url(../images/grid-pattern.png) left top repeat, 
    			-moz-radial-gradient(50% 15%, #2c98dd, #1a5f96) no-repeat;
    background: url(../images/grid-pattern.png) left top repeat, 
    			-ms-radial-gradient(50% 15%, #2c98dd, #1a5f96) no-repeat;
    background: url(../images/grid-pattern.png) left top repeat, 
    			-o-radial-gradient(50% 15%, #2c98dd, #1a5f96) no-repeat;
    background: url(../images/grid-pattern.png) left top repeat, 
    			radial-gradient(circle farthest-side at 50% 15%, #2c98dd, #1a5f96) no-repeat;
    background-color: #1a5f96;
    overflow: hidden;
}
#drawCanvas {
  	-ms-touch-action: none;
  	position: absolute;
	top: -30px;
	left: -30px;
}
#drawCanvas:hover, #drawCanvas:active {
    cursor: none;
}
#clearCanvasButton {
    position: absolute;
    font-size: 30px;
    z-index: 1;
    background-color: transparent;
    border: none;
    cursor: none;
}
#colorSwatch {
    position: absolute;
    bottom: 50px;
    right: 50%;
    margin-right: -150px;
    cursor: none;
}
input[type=radio] {
	margin: 0;
	display: none;
	width: 0;
}
input[type=radio]:checked + label::after {
	content: '\2712';
	position: absolute;
	left: 8px;
}

label {
	display: inline-block; 
	width: 48px; height: 48px; 
	position: relative;
	padding-right: 5px;
	border-radius: 50%;
	text-shadow: 1px 1px 2px #000;
	color: #fff;
	font-size: 32px;
	line-height: 46px;
    cursor: none;
}
label[for=color01] {background: gold;}
label[for=color02] {background: darkorange;}
label[for=color03] {background: navy;}
label[for=color04] {background: yellowgreen;}
label[for=color05] {background: firebrick;}
label[for=color06] {background: powderblue;}
.bubble {
	-webkit-transition: all .5s;
	transition: all .5s;
}
.bubble {
	position: absolute;	
	right: 15px;
  	min-width: 48px;
  	height: 48px;
  	display: inline-block;
  	border-radius: 8px;
  	line-height: .9em;
  	color: #fff;
  	text-align: center;
  	background: #33687B;
    z-index:1
}
.bubble span {
  	display: block;
  	margin: 5px auto;
  	font-size: 10px;
}
.bubble #occupancy {
  	font-size: 32px;
}

.vbox {
    display: flex;
    flex-direction: column;
}
.hbox {
    display: flex;
    flex-direction: row;
    font-size: 200%;
    font-family: sans-serif;
}
.hbox input {
    flex: 1;
}
#sprite-container {
    position: absolute;
    border: 0px solid blue;
    margin:0;
    padding:0;
    flex: 1;
    top:20px; 
    bottom:0;
    left: 30px;
    right:0;
}
.sprite {
    min-width: 10px;
    min-height: 10px;
    border: 0px solid red;
    position: absolute;
    font-family: sans-serif;
    color: white;
    border-radius: 10px;
    border: 2px solid;
    border-color: red;
    background-color: red;
    padding: 5px;
}